[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
setproctitle = "*"
flask-restful = "*"
pymongo = "*"
requests = "*"
flask-cors = "*"
build = "*"

[dev-packages]

[requires]
python_version = "3.8"
